<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home Now | A Home</title>
    <link th:replace="fragments/styles.html :: styles"/>
</head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <a th:href="@{/add-home}" class="btn btn-raised btn-success btn-round"><i class="fas fa-home"></i></a>
        </div>
        <div class="col col-md-6">

        </div>
    </div>
</div>

<div th:replace="fragments/footer.html :: footer"></div>
<div th:replace="fragments/scripts.html :: scripts"></div>
</body>
</html>